*{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body{
    overflow-x:hidden;
}
/* Navbar Section */
.hovernavs{
    font-weight: 700;
}

.hovernavs:hover{
    color:gray !important;
}

/* Hero Section */
.hero-section{
    padding-top:140px;
}
.button-color{
    background: blue;
    font-weight:700;
}

/* Banner Section */
.background-color-banner{
    background-color: rgb(234, 234, 234);
}
.text-dark{
    color:black !important;
}

/* How We Do section */

.card_background{
    background: linear-gradient(to top, rgb(40, 40, 250), rgb(0, 184, 0));
    color:white;
    border-radius: 15px;
    padding-block:30px;
    border:none;
}
.card-header-background{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:none;
    height:5rem;
    font-size:3rem;
    color:gainsboro;
    padding-block:60px;
}
.logo-howtoDoPro{
    font-size: 3rem;
    background: whitesmoke;
    padding:10px 10px;
    border-radius: 5px;
    color:blue !important;
}
.card-title{
    position: relative;
    padding:5px;
    font-size:2rem;
    font-weight:700;
}
.card-title::after{
    content:"";
    height:2px;
    width:70%;
    background: white;
    position:absolute;
    bottom:0;
    left:5px;
}
.card-title::before{
    content:"";
    height:10px;
    width:10px;
    background: white;
    border-radius: 50%;
    position:absolute;
    bottom:-3px;
    right:25%;
}
.card-text{
    padding-block:5px;
}

/* our expert Team Section */

.our-team-section{
    background: rgb(234, 234, 234);
}
.image-client{
    border-radius:50%;
    overflow:hidden;
    height:170px;
    width:170px;
    background-color:whitesmoke;
}

.dot{
    height:5px;
    width:5px;
    border-radius:50%;
    background: white;
}
/* Our Experties Section */

.experties-logo{
    font-size: 3rem;
    background: whitesmoke;
    padding:10px 10px;
    border-radius: 5px;
    color:blue !important;
}

.card-expertise-background{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:none;
    font-size:3rem;
    color:gainsboro;
}
.card-header{
    border:none;
}
.experties-title{
    font-size:1.4rem;
    font-weight:500;
    padding-bottom: 10px;
}

/* Sub Footer Section */

.subFooterSection{
    height:80vh;
    background: rgb(135, 135, 209) url(../assests/images.avif);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}
.subFooterSection div:last-child button{
    padding-inline:80px !important;
}

/* Footer Section */
.dotforServices{
    height:2px;
    width:280px;
}
.dotforServices::after{
    content:"";
    position:absolute;
    height:10px;
    width:10px;
    clip-path: polygon(100% 0, 0 51%, 100% 100%);
    bottom:-4px;
    left:-7px;
    background-color: white;
}
.dotforServices::before{
    content:"";
    position:absolute;
    height:10px;
    width:10px;
    clip-path: polygon(100% 48%, 0 1%, 0 100%);
    bottom: -4px;
    right: -7px;
    background: whitesmoke;
}